body{
    margin:0;
}

a{
    color: green;
    text-decoration: none;
}

p{
    color: pink;
}

h1{
font: size 45px;
text-align: center;
font-family: 'Poppins', sans-serif;
border-bottom:1px solid #d0d0d5;   
margin: 0;
padding:20px;
}
ol{
border-right: 1px solid #d0d0d5;
width: 100px;
margin:0;
padding:20px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol{
    padding-left: 33px;
}
#grid #article{
    padding-left: 25px;
}
@media(max-width:800px){
#grid{
    display: block;
}
#grid ol{
    border-right: none;
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0px;
    border-bottom:1px solid #d0d0d5;   
     }
#grid li{
    display: inline;
    }
#grid #article{
padding: 0px 15px;
}
}

.css-gui-13vw8i4{
    -webkit-transition:all 250ms 0ms cubic-bezier(0, 0, 1, 1);
    transition:all 250ms 0ms cubic-bezier(0, 0, 1, 1); 
    border-color:transparent;
    padding-right:48px;
    padding-left:48px;
    padding-bottom:12px;
    padding-top:12px;
    border-radius:6px;
    font-weight:600;
    font-size:1rem;
    background-color:#6465ff;
    color:#fff;
    cursor:pointer;
    display: block;
    margin: auto;
    }
.css-gui-13vw8i4:hover{background-color:#4041c2; border: 3px solid #8384f7; border-spacing: 3px; }
